.quote {
  position: fixed;
  z-index: 5;
}

.quote-content {
  position: relative;
  color: white;
  text-shadow: 1px 1px 1px black;
  background: radial-gradient(
    circle,
    rgba(25, 25, 25, 1) 70%,
    rgba(0, 0, 0, 0) 85%,
    rgba(0, 0, 0, 0) 100%
  );
  padding: 2rem 6rem;
  margin: auto;
  width: 20rem;
}

.quote-content p {
  font-size: larger;
  text-align: center;
}

.quote-content span {
  position: absolute;
  cursor: pointer;
  top: 1rem;
  right: 6rem;
  /* color: #fa2720; */
  font-size: larger;
}

.quote-content span:hover {
  color: #fa2720;
}
