@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgb(25, 25, 25) 75%, rgb(35, 35, 35) 100%);
  font-family: 'Roboto', sans-serif;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
